* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
  background-color: #fff;
  color: #000000;
}

li, a {
  text-decoration: none;
}

header {
  width: 100%;
  height: auto;
  /*Hero_1 Section ENDS Here*/
}
header img {
  width: 5rem;
  height: 4rem;
  margin-left: 7rem;
  margin-top: 0.5rem;
}
header nav {
  display: flex;
}
header nav ul {
  display: flex;
  margin-left: 44rem;
  margin-top: 0.5rem;
}
header nav ul li {
  margin: 10px 10px;
  list-style-type: none;
}
header nav ul li a {
  font-size: 1.2rem;
  color: #000000;
}
header .hero_1 {
  width: 100%;
  height: auto;
  display: flex;
  margin: 5rem;
}
header .hero_1 img {
  width: auto;
  height: 20rem;
}
header .hero_1 .sec2 {
  margin-top: 7rem;
  margin-left: 2rem;
}
header .hero_1 .sec2 .intro {
  font-size: 1.75rem;
  font-family: "Roboto Condensed", sans-serif;
}
header .hero_1 .sec2 .designation {
  font-size: 1.25rem;
  margin-top: 1rem;
  font-family: "Roboto Condensed", sans-serif;
}
header .hero_1 .sec2 .description {
  font-size: 1.25rem;
  font-family: "Karla", sans-serif;
  margin-top: 1rem;
}
header .hero_2 {
  width: 100%;
  height: auto;
}
header .hero_2 .emptybox {
  background-color: gray;
  width: 70%;
  height: 45rem;
}
header .hero_2 .box {
  width: 50rem;
  height: 15rem;
  display: flex;
  margin-top: -40rem;
  margin-left: 18rem;
  background-color: #fff;
  border: solid 2px #000;
}
header .hero_2 .box .box_1 {
  margin-top: 2.5rem;
  margin-left: 5rem;
  width: 10rem;
  height: 10rem;
}
header .hero_2 .box .box_1 .tagline {
  font-size: 1.25rem;
  font-family: "Roboto Condensed", sans-serif;
}
header .hero_2 .box .box_1 .description {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-family: "Roboto Condensed", sans-serif;
  text-align: auto;
}
header .hero_2 .box .box_2 {
  margin-top: 2.5rem;
  margin-left: 5rem;
  width: 10rem;
  height: 10rem;
}
header .hero_2 .box .box_2 .tagline {
  font-size: 1.25rem;
  font-family: "Roboto Condensed", sans-serif;
}
header .hero_2 .box .box_2 .description {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-family: "Roboto Condensed", sans-serif;
  text-align: auto;
}
header .hero_2 .box .box_3 {
  margin-top: 2.5rem;
  margin-left: 5rem;
  width: 10rem;
  height: 10rem;
}
header .hero_2 .box .box_3 .tagline {
  font-size: 1.25rem;
  font-family: "Roboto Condensed", sans-serif;
}
header .hero_2 .box .box_3 .description {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-family: "Roboto Condensed", sans-serif;
  text-align: auto;
}
header .hero_2 .col_exp {
  width: 50rem;
  height: 15rem;
  display: flex;
  margin-top: 5rem;
  margin-left: 18rem;
}
header .hero_2 .col_exp .count {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 5rem;
  color: #f3f3f3;
}
header .hero_2 .col_exp .count .year {
  font-size: 3.5rem;
  margin-left: 2.5rem;
  color: #f3f3f3;
}
header .hero_2 .col_exp .boxes {
  display: inline;
  width: 30rem;
  height: 20rem;
}
header .hero_2 .col_exp .boxes .project_1 {
  display: flex;
  margin-left: 4rem;
}
header .hero_2 .col_exp .boxes .project_1 .pro_box1 {
  font-size: 1.5rem;
  margin: 0.25rem;
  background-color: #f3f3f3;
  width: 8rem;
  height: 8rem;
  text-align: center;
}
header .hero_2 .col_exp .boxes .project_1 .pro_box1 .centre {
  font-size: 2rem;
  margin-top: 2rem;
}
header .hero_2 .col_exp .boxes .project_1 .pro_box2 {
  font-size: 1.5rem;
  margin: 0.25rem;
  background-color: #f3f3f3;
  width: 8rem;
  height: 8rem;
  text-align: center;
}
header .hero_2 .col_exp .boxes .project_1 .pro_box2 .centre {
  font-size: 2rem;
  margin-top: 2rem;
}
header .hero_2 .col_exp .boxes .project_2 {
  display: flex;
  margin-left: 4rem;
}
header .hero_2 .col_exp .boxes .project_2 .pro_box3 {
  font-size: 1.5rem;
  margin: 0.25rem;
  background-color: #f3f3f3;
  width: 8rem;
  height: 8rem;
  text-align: center;
}
header .hero_2 .col_exp .boxes .project_2 .pro_box3 .centre {
  font-size: 2rem;
  margin-top: 2rem;
}
header .hero_2 .col_exp .boxes .project_2 .pro_box4 {
  font-size: 1.5rem;
  background-color: #f3f3f3;
  width: 8rem;
  height: 8rem;
  margin: 0.25rem;
  text-align: center;
}
header .hero_2 .col_exp .boxes .project_2 .pro_box4 .centre {
  font-size: 2rem;
  margin-top: 2rem;
}

/*First Header section Ends here*/
#section2 {
  margin-top: 10rem;
}
#section2 .page_bar {
  width: 60%;
  margin-left: 20%;
  display: flex;
  background-color: gray;
}
#section2 .page_bar .title {
  font-family: "Oswald", sans-serif;
  font-size: 1.95rem;
  width: 25rem;
  margin: 1rem;
}
#section2 .page_bar .title .description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
#section2 .page_bar .btn {
  height: 3rem;
  width: 8rem;
  font-size: 1.25rem;
  margin: 2rem;
  margin-left: 8rem;
}
#section2 .major_box {
  width: 60%;
  margin-left: 20%;
  display: flex;
  height: 20rem;
  flex-direction: downwards;
  background-color: gray;
}
#section2 .major_box .line_1 {
  display: flex;
  margin-left: 2rem;
}
#section2 .major_box .line_1 .inline_box_1 {
  width: 20rem;
  margin-left: 1rem;
  height: 15rem;
  text-align: center;
  background-color: #140f02;
}
#section2 .major_box .line_1 .inline_box_1 img {
  width: 18rem;
  height: 10rem;
  margin-top: 3rem;
  margin-left: -0.2rem;
}
#section2 .major_box .line_1 .inline_box_1 .title {
  font-size: 1.5rem;
  color: #f3f3f3;
  margin-left: -14rem;
  margin-top: 2rem;
  color: #f3f3f3;
}
#section2 .major_box .line_1 .inline_box_1 .description {
  font-size: 1rem;
  margin-left: -11.5rem;
}
#section2 .major_box .line_1 .inline_box_2 {
  width: 20rem;
  margin-left: 1rem;
  height: 15rem;
  margin-left: 2rem;
  text-align: center;
  background-color: #140f02;
}
#section2 .major_box .line_1 .inline_box_2 img {
  width: 18rem;
  height: 10rem;
  margin-top: 3rem;
  margin-left: -0.65rem;
  margin-left: -0.2rem;
}
#section2 .major_box .line_1 .inline_box_2 .title {
  font-size: 1.5rem;
  color: #f3f3f3;
  margin-left: -14rem;
  margin-top: 2rem;
  color: #f3f3f3;
}
#section2 .major_box .line_1 .inline_box_2 .description {
  font-size: 1rem;
  margin-left: -11.5rem;
}

/*Second Header section Ends here*/
footer {
  margin-top: 10rem;
}
footer .nav {
  background-color: #140f02;
  display: flex;
  border-radius: 1rem;
}
footer .nav ul {
  display: flex;
  margin-left: 38%;
}
footer .nav ul li {
  list-style-type: none;
  padding-left: 10px;
}
footer .nav ul li a {
  color: #f3f3f3;
  font-size: 1.2rem;
}
footer .social {
  display: flex;
  font-size: 1.2rem;
  color: #000;
  background-color: #37ad6d;
  height: 3rem;
  border-radius: 1rem;
}
footer .social ul {
  display: flex;
  margin-left: 40%;
}
footer .social ul li {
  padding-left: 1rem;
  list-style-type: none;
}
footer .social ul li a {
  text-decoration: none;
}

/*Footer section Ends here*/
/*Media  Query BEGINS here*/
@media screen and (max-width: 700px) {
  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  body {
    overflow-x: hidden;
    background-color: #000;
    color: #000000;
  }
}
@media (max-width: 700px) {
  header {
    width: 100%;
    height: auto;
  }
  header img {
    width: 5rem;
    height: 4rem;
    margin-left: 7rem;
    margin-top: 0.5rem;
  }
  header nav {
    display: block;
    width: 100%;
  }
  header nav ul {
    display: flex;
    margin-left: 44rem;
    margin-top: 0.5rem;
  }
  header nav ul li {
    margin: 10px 10px;
    list-style-type: none;
  }
  header nav ul li a {
    font-size: 1.2rem;
    color: #000000;
  }
  header .hero_1 {
    width: 100%;
    height: auto;
    display: block;
    margin: 5rem;
  }
  header .hero_1 img {
    width: 20em;
    height: 20rem;
    margin-left: 0.5rem;
  }
  header .hero_1 .sec2 {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  header .hero_1 .sec2 .intro {
    font-size: 1.75rem;
    font-family: "Roboto Condensed", sans-serif;
    margin-left: 10px;
  }
  header .hero_1 .sec2 .designation {
    font-size: 1.25rem;
    margin-left: 3rem;
    margin-top: 0.3rem;
    font-family: "Roboto Condensed", sans-serif;
  }
  header .hero_1 .sec2 .description {
    font-size: 1.25rem;
    font-family: "Karla", sans-serif;
    margin-top: 1rem;
  }
}/*# sourceMappingURL=index.css.map */